---
import Layout from '../../layouts/Procon.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <ul class="list-group">
            <li class="list-group-item"><a href="/procon/atcoder">AtCoder</a></li>
        </ul>
    </main>
</Layout>
