---
import Layout from '../../layouts/Procon.astro';

---

<Layout content={{ title: "Procon" }}>
	<main>
        <ul class="list-group">
            <li class="list-group-item"><a href="/procon/atcoder">AtCoder</a></li>
        </ul>
    </main>
</Layout>
