---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <nav class="flex items-center justify-between flex-wrap bg-blue-300 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
              <span class="font-semibold text-xl tracking-tight">Procon</span>
            </div>
        </nav>
		<div class="container mx-auto">
			<article class="prose">
				<slot/>
			</article>
		</div>
	</body>
</html>
<style is:global>
</style>
